.container {
    box-shadow: 0 0 12px rgba(0,0,0,.15);
    max-width: 1280px;
    width: 100%;
}

h1 {
    text-align: center;
    color: grey;
}

.form-field {
    border-radius: 0%;
}

/* Buttons */
.buttonRounded {
    border-radius: 100%;
}


#deleteButton {
    background-color: red;
    border-color: #ffffff;
}

#doneButton {
    background-color: green;
    border-color: #ffffff;
}
/**/


.taskDivider {
    padding: 0;
    margin: 15px 0;
}


@media screen and (max-width: 992px) {
    .form-field {
        margin: 5px 0;
    }
    .toDoItem {
        margin: 10px;
    }
}


